/*global links styles*/

a {
  color: #5a5a5a;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.page-link {
color: #5a5a5a;
}

.page-link:hover {color:orange;}
.page-link:active { color: orange; }

/* nav bar*/

.site-nav{
  text-align: center;
  margin-top: 30px;
}

.nav-bar {
  color: #5a5a5a;
  font-size: 1.5em;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  font-family: Helvetica, Arial, Sans-Serif;
  margin: 10px 20% 10px 20%;
  /*background-color: teal;*/
  background-image: url("/media/sandpaper.png")

}

#banner {
  text-align: center;
  font-size: 4em;
  margin-left: auto;
  margin-right: auto;
}

.text {
  background-color: #efefef;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 80%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

}

#intro-box {
  background-color: #efefef;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#intro {
  max-width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#profile-gallery {
  margin-top: 30px;
}

#profilepic {
  width: 300px;
  border-radius: 304px;
  border: 4px white solid;
  
/* makes image a block element rather than an in-line element */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#project-gallery {
  margin-top: 30px;
}

.thumbnail{
  background-color: transparent;
  border: none;
    }