
/* nav bar*/

a {
  color: #5a5a5a;
}
.page-link {
color: orangered;
}

.page-link:hover {color:orange;}
.page-link:active { color: orange; }


.trigger {
  color: #5a5a5a;
  font-size: 30px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  display: inline;
}

body {
  font-family: Helvetica, Arial, Sans-Serif;
  margin: 10px 333px 10px 333px;
  background-color: teal;

}
h1{
  text-align: center;
  font-size: 100px;
}

.text {
    background-color: #efefef;
    font-size: 22px;
}