/* CSS HERE :D */
.nav a {
  color: #5a5a5a;
  font-size: 36px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.projects {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.projects h2 {
    color: #393c3d;
    font-size: 24px;
}

.projects p {
    font-size: 15px;
    margin-bottom: 13px;
}

.profiles {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.profiles h2 {
    color: #393c3d;
    font-size: 24px;
}

.profiles p {
    font-size: 15px;
    margin-bottom: 13px;
}

.icons {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.icons h2 {
    color: #393c3d;
    font-size: 24px;
}

.icons p {
    font-size: 15px;
    margin-bottom: 13px;
}

body {
 	font-family: Helvetica, Arial, Sans-Serif;
 	margin: 10px 100px 10px 100px;
 	background-color: teal;

}
h1{
	text-align: center;
	font-size: 100px;
}

/*img {
	width: 100px;
	height: 100px;
	display: inline-block;
}*/