body {
	padding: 60px;
	background-color: rgba(51,51,51,0.05);
	font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;

}

#banner {
	width:50%;
}

li {
	list-style: decimal;
}