---

title: CODEPENDENT
js : main

---

<!DOCTYPE html>
<html>
  
  {% include head.html %}

    <body>
            
        <div id='sticky-wrap'>
        
            {% include header.html %}
            <div id="landing-div">
                <img id="image" width="100%" src="media/banner.png"/>
                <div class='landing-area'>  
                    <img id="logo" width="90%" src="media/logo.png"/> 
                    <a href='#landHere'>
                        <img id="arrow" width="10%" src="media/arrow.png"/>
                    </a>    
                </div>
            </div>


            <div id='sticky-body'> 
                <div class="page-content"> <!--uneeded?-->
                    <div class="wrapper">  <!--uneeded?-->
                        <section id='section2'>
                    
                            <h2 id='landHere' class="titles"> &lt; T E A M &gt; </h2>

                            <div id='profile-gallery' class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-2">
                                    <div class="thumbnail">
                                        <a class="darken" href="/adamkowalczyk">
                                            <img class="profilepic" src="media/adam.jpg">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="thumbnail">
                                        <a class="darken" href="/jasonluu">
                                            <img class="profilepic" src="media/jason.jpg">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="thumbnail">
                                        <a class="darken" href="/amilvasishtha">
                                            <img class="profilepic" src="media/amil.jpg">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="thumbnail">
                                        <a class="darken" href="/markwilliamfirth">
                                            <img class="profilepic" src="media/mark.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-12'>
                                    <p id='intro'>A group of aspiring developers based in London, honing our skills with <a href="http://foundersandcoders.org">Founders &amp; Coders</a></p>
                                </div>   
                            </div>      
                        </section>

                        <section id='section3'>
                            <div id='project-gallery' class="text">
                                <div class="container">
                                    <h2 class="titles"> &lt; P R O J E C T S &gt; </h2>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="thumbnail">
                                                <a href="/projects/week1">
                                                    <img src="media/1.png">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="thumbnail">
                                                <a href="/projects/watchthisspace">
                                                    <img src="media/2.png">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="thumbnail">
                                                <a href="/projects/watchthisspace">
                                                    <img src="media/3.png">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="thumbnail">
                                                <a href="/projects/watchthisspace">
                                                    <img src="media/4.png">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="thumbnail">
                                                <a href="/projects/watchthisspace">
                                                    <img src="media/5.png">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="thumbnail">
                                            <a href="/projects/watchthisspace">
                                                    <img src="media/6.png">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="thumbnail">
                                                <a href="/projects/watchthisspace">
                                                    <img src="media/7.png">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="thumbnail">
                                                <a href="/projects/watchthisspace">
                                                    <img src="media/8.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>    
                </div>
            </div>  
        </div>
        <div id='sticky-footer'> 
            {% include footer.html %}
        </div>    
    </body>
</html>
