<header class="site-header">
  <div class="wrapper">

<nav class="navbar navbar-default">
  <div class="">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
     <div class="navbar-collapse collapse" id='myNavbar'>
      <ul class="nav navbar-nav navbar-static-top">
        <li class="button"><a href="/"> &lt; Home &gt; </a></li>
        <li class="button"><a href="/about"> About </a></li> 

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Team <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/adamkowalczyk">Adam</a></li>
                <li><a href="/jasonluu">Jason</a></li>
                <li><a href="/amilvasishtha">Amil</a></li>
                <li><a href="/markwilliamfirth">Mark</a></li>
              </ul>
            </li>  
          <li class="dropdown">   
             <a href="#" class="dropdow-toggle" data-toggle="dropdown"> Projects <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/projects/week1">Team Site</a></li>
              </ul> 
          </li>
        <li class="button"><a href="/contact"> Contact </a></li>  
      </ul>
    </div>
  </div>
</nav>
</header>