<header class="site-header">
  <div class="wrapper">

    <h1 id='banner'><a class="site-title" href="{{ site.baseurl }}/">
      <span style="color: orange">
        <span style="color: white">&lt;</span> 
      C O</span> 
      <span style="color: orangered"> D E 
        <span style="color: white">&gt;</span> 
      </span> <span style="color: orangered">P E N D E N T</span>
    </a></h1>
    <!--CSS styling for title, banner links to home page-->
    
    <nav class="site-nav">

      <div class="nav-bar">
        
        {% for page in site.pages %}
          {% if page.title and page.nav == 'main' %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <!--For pages in site, if the page has a title and our nav yml = main, then it will show that page as a link-->
    
    <!-- 
    <button type="button" class="site-nav">
      <span class="nav" aria-hidden="true"><a href="/about" class="menu-icon">About</a></span>
    </button> 
   <button type="button" class="site-nav"><
      <span class="nav" aria-hidden="true"><a href="/profiles" class="menu-icon">Profiles</a></span>
    </button>
    <button type="button" class="site-nav">
      <span class="nav" aria-hidden="true"><a href="/projects" class="menu-icon">Projects</a></span>
    </button>
 -->
      </div>
    </nav>
  </div>
</header>
