<header class="site-header">

  <div class="wrapper">

    <h1 id='banner'><a class="site-title" href="{{ site.baseurl }}/">
      <span style="color: orange">
        <span style="color: white">&lt;</span> 
      C O</span> 
      <span style="color: orangered"> D E 
        <span style="color: white">&gt;</span> 
      </span> <span style="color: orangered">P E N D E N T</span>
    </a></h1>
    
    <nav class="site-nav">
      <a href="#" class="menu-icon"></a>

      <div class="nav-bar">
        {% for page in site.pages %}
          {% if page.title and page.nav == 'main' %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
