---
layout: default
---


    <h1 class='centerMe'>{{page.title}}</h1>


    <p class='centerMe'>A group of aspiring developers based in London, honing our skills with Founders and Coders.
    Our team formed in January 2015 and has been working together for <script>document.write(teamDate)</script> days.
    </p>

{{ content }}

<div class="icons">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <a href="https://github.com/foundersandcoders">foundersandcoders<img src="/media/github.png"></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <a href="https://github.com/codependentfc">codependentfc<img src="/media/github.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>