---
layout: default
---

{{ content }}

<h3>Github</h3>
     <div class="icons">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <div class="thumbnail">
                        <a href="https://github.com/foundersandcoders">Foundersandcoders<img src="../media/github.png"></a>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <div class="icons">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <div class="thumbnail">
                       <a href="https://github.com/codependentfc">Codependent<img src="../media/github.png"></a>
                    </div>
                </div>
            </div>  
        </div>
    </div>