---
layout: default
---


<h1 class='centerMe'>{{page.title}}</h1>

<div class='centerMe'>
    {{content}}
</div>

<div class='centerMe'>
  <form id='form' action='https://getsimpleform.com/messages?form_api_token=d6b14068281668c202665854ccd78036' method='post'>
    
    <input type='hidden' name='redirect_to' value='http://codependentfc.github.io/thankyou/' /> 
    <!--This is broken locally, as full URL required -->   
    <br/>
    Name:
    <br/><input type='text'  name='name' />
    <br/>
    <br/>
    Email:
    <br/>
    <input type='text'  name='email' />
    <br/>
    <br/>
    Comment:
    <br/>
    <textarea name='comment' form='form'></textarea>
    <br/>
    <br/>
    <input type='submit' value='Submit!' />

  </form>
</div>
      