---
layout: default
---

{{content}}

<form id='form' action="https://getsimpleform.com/messages?form_api_token=d6b14068281668c202665854ccd78036" method="post">
  
  <input type='hidden' name='redirect_to' value='http://codependentfc.github.io/thankyou/' /> 
  <!--This is broken locally, as full URL required -->
  
  Name: <input type='text'  name='name' />
  <br/>
  Email: <input type='text'  name='email' />
  <br/>
  Comment:
  <br/>
  <textarea name="comment" form="form"></textarea>
  <br/>
  <br/>
  <input type='submit' value='Submit!' />
</form>
      