<!DOCTYPE html>
<html>
  
  {% include head.html %}

  <body>

    <div id='sticky-wrap'>
    
      {% include header.html %}
      <div id="container">
        <img id="image" width="100%" src="media/banner.png"/>
       
        <div class='landing-area'>
    
          <h1 id='banner'>
            <a class="site-title" href="{{ site.baseurl }}/">
              <span style="color: white"> 
              <span style="color: white">&lt;</span> 
              C O</span> 
              <span style="color: white"> D E 
              <span style="color: white">&gt;</span> 
              </span> <span style="color: white">P E N D E N T</span>
            </a>
          </h1>  
          <p id='intro'>A group of aspiring developers based in London, honing our skills with <a href="http://foundersandcoders.org">Founders &amp; Coders</a>.</p>
        </div>



       <div id='sticky-body'> 
          <div class="page-content">
            <div class="wrapper">
              {{ content }}
            </div>
          </div>
        </div>  
    </div>
       
    </div> 
    <div id='sticky-footer'> 
      {% include footer.html %}
    </div>  
  </body>

</html>
