<!DOCTYPE html>
<html>
  
  {% include head.html %}

  <body>

  <div id='sticky-wrap'>
    
    {% include header.html %}
    <div id="container">
      <img id="image" width="100%" src="media/banner.png"/>
       
          <div class='landing-area'>
      
            <h1 id='banner'>
              <img id="logo" width="90%" src="media/logo.png"/> 

              <br>
              <br>


              <a href=#<img class="arrow" width="100px" src="media/arrow.png"/>
            
            </h1>  
            <p id='intro'>A group of aspiring developers based in London, honing our skills with <a href="http://foundersandcoders.org">Founders &amp; Coders</a>.</p>
          </div>
 




       <div id='sticky-body'> 
          <div class="page-content">
            <div class="wrapper">
              {{ content }}
            </div>
          </div>
         </div>  
       </div>
       
    </div> 
    <div id='sticky-footer'> 
      {% include footer.html %}
    </div>  
  </body>

</html>
