---
layout: default 
---

{{content}}


 	<div class="row">
                <div class="col-md-3">
					<img id="indivpic" src={{page.indivpic}}>
				</div>
	</div>


 <div class="icons">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <div class="thumbnail">
<a href={{page.linkedin}}><img src="/media/linkedin.png"></a>  

<a href={{page.github}}><img src="/media/github.png"></a>

<a href={{page.codewars}}><img src="/media/codewars.png"></a>
					</div>
				</div>
			</div>
		</div>
</div>					