---
layout: default 
---

<br>
<center>
	<h1>{{page.title}}</h1>
</center>
<br>
<br>

<center>
	<a class="darken" href="#"><img  id="pp" src="{{page.profilePic}}"></a>
</center>

</br>

<div class='text'>
{{content}}
</div>>

<br>

<div class="icons">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{page.linkedin}}"><img src="../media/linkedin.png"></a>
               	</div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{page.github}}"><img src="../media/github.png"></a>
               	</div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{page.codewars}}"><img src="../media/codewars.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>